### WEEK 8 Homework
Section 1:
UPDATE EVCars
SET Accel = RTRIM(Accel, '  sec')

ALTER TABLE EVCars
RENAME Accel to 'Accel(sec)'

Section 2:
2.1
SELECT TopSpeed from EVCars

2.2/2.3
SELECT TopSpeed, RTRIM(TopSpeed, '  km/h') 
FROM evCars

2.4
UPDATE EVCars
SET 
    TopSpeed = RTRIM(TopSpeed, '  km/h'); 

2.5
SELECT TopSpeed from EVCars;

2.6
SELECT TopSpeed, ROUND(TopSpeed * 0.621371, 2)
from EVCars;

UPDATE EVCars 
SET
	TopSpeed = ROUND(TopSpeed * 0.621371, 2)

2.7
ALTER TABLE EVCars 
RENAME TopSpeed to TopSpeedMPH

2.8
SELECT *
FROM EVCars

Section 3:
3.1
SELECT Range
FROM EVCars

3.2/3.3
SELECT Range, RTRIM(Range, '  km') 
FROM evCars

3.4
UPDATE EVCars
SET 
    Range = RTRIM(Range, '  km'); 

3.5
SELECT Range
From EVCars

3.6
SELECT Range, ROUND(Range * 0.621371, 2)
from EVCars;

UPDATE EVCars 
SET
	Range = ROUND(Range * 0.621371, 2)

3.7
ALTER TABLE EVCars 
RENAME Range to RangeMiles

3.8
SELECT *
from EVCars

Section 4:
4.1
SELECT Efficiency, FastCharge
from EVCars

4.2/4.3
SELECT Efficiency, RTRIM(Efficiency, ' Wh/km')
from EVCars

SELECT FastCharge, RTRIM(FastCharge, ' km/h')
from EVCars

SELECT Efficiency, FastCharge, RTRIM(Efficiency, ' Wh/km'), RTRIM(FastCharge, ' km/h')
from EVCars

4.4
UPDATE EVCars
SET
Efficiency = RTRIM(Efficiency, ' Wh/km'),
FastCharge = RTRIM(FastCharge, ' km/h');

4.5
SELECT *
From EVCars

4.6
SELECT FastCharge, ROUND(FastCharge * 0.621371, 1) as OneHourFastChargeMiles
from EVCars;

UPDATE EVCars 
SET
	FastCharge = ROUND(FastCharge * 0.621371, 1)

4.7
ALTER TABLE EVCars 
RENAME FastCharge to OneHourFastCharge

ALTER TABLE EVCars 
RENAME Efficiency to efficiencyWHperKM

4.8
SELECT * 
FROM EVCars

Section 5:
5.1
SELECT RapidCharge, Count(*)
FROM EVCars
GROUP BY RapidCharge

5.2
SELECT RapidCharge from EVCars WHERE RapidCharge = 'Rapid charging possible';
UPDATE EVCars SET RapidCharge = 'Yes' WHERE RapidCharge = 'Rapid charging possible'

SELECT RapidCharge from EVCars WHERE RapidCharge = 'Rapid charging not possible';
UPDATE EVCars SET RapidCharge = 'No' WHERE RapidCharge = 'Rapid charging not possible'

5.3
"Rapid charging possible" 
"Rapid charging not possible"

Section 6
6.1
SELECT PowerTrain, Count(*)
From EVCars
GROUP BY PowerTrain

6.2
All Wheel Drive
Rear Wheel Drive
Front Wheel Drive

6.3
SELECT PowerTrain from EVCars WHERE PowerTrain = 'All Wheel Drive';
UPDATE EVCars SET PowerTrain = 'AWD' WHERE PowerTrain = 'All Wheel Drive'

SELECT PowerTrain from EVCars WHERE PowerTrain = 'Rear Wheel Drive';
UPDATE EVCars SET PowerTrain = 'RWD' WHERE PowerTrain = 'Rear Wheel Drive'

SELECT PowerTrain from EVCars WHERE PowerTrain = 'Front Wheel Drive';
UPDATE EVCars SET PowerTrain = 'FWD' WHERE PowerTrain = 'Front Wheel Drive'

6.4
SELECT *
FROM EVCars

Section 7
7.1
SELECT PriceEuro, ROUND(PriceEuro * 1.09, 2) as PriceEuro
from EVCars;

7.2
UPDATE EVCars 
SET
	PriceEuro = ROUND(PriceEuro * 1.09, 2)

7.3
ALTER TABLE EVCars 
RENAME PriceEuro to PriceUSD